.iconContainer {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.iconContainer:active {
    background-color: rgba(255, 255, 255, 0.62);
    border-radius: 100%;
}
